---
layout: default
title: Team
suppress_header: true
extra_css:
  - team.css
image_title: /images/team/team.jpg
---
-# THE MEMBER CONTENT FOR THIS PAGE IS IN THE team.yml FILE
.hidden-xs
  %iframe{frameborder: "0", height: "500", scrolling: "no", src: "https://sundial.teleport.org/public/map/Y3IahPR5vYjBpMyU2kZj?mousescroll=false", width: "100%"}
.wrapper
  .team-container
    .team-head
      %h1
        MEET OUR
        %b TEAM
      %p
        The GitLab Inc. team consists of #{link_to('pets', '/team-pets')} and
        the following #{data.team.size} individuals.
        This page also lists who people report to, and on a separate page we
        detail the #{link_to('team structure', '/team/structure')}.
        You can get a sense of the team culture by visiting our
        #{link_to('culture page', '/culture')}.
    .row
      - data.team.each do |member|
        = partial "includes/team/member", locals: {member: member, is_pet: false}
      .col-xl-3.col-lg-4.col-md-4.col-sm-6.col-xs-12
        .member
          .card
            .front
              = image_tag "/images/team/logo-extra-whitespace.png", alt: "GitLab.com", width: 200, height: 200
              %h3 You?
              %br/
              %p{style: "text-align: center; padding: 0 25px;"}
                Want to see your name and picture here? Check out our latest
                %a{href: "http://about.gitlab.com/jobs/"} job openings!
              .social
                %a{href: "https://twitter.com/gitlab"}
                  %i.fa.fa-twitter
                %a{href: "https://gitlab.com"}
                  = partial "includes/logos/logo_sq.svg"
